{% include 'base.html' %} 
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Storey!</h1>
        <p class="lead">Build your own online store today with Storey</p>
        <a class="btn btn-Primary" href="/catalog/new">Add New Store</a>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="">
                {% for category in categories %}
                <a class="noLine" href="{{url_for('catalogItemList', category_id = category.id)}}"><h3> {{category.name}}</h3></a>
                {% for user in users %}
                <h6> Created by { user.name }</h6>
                {% endfor %}
                
                <a class="btn btn-xs btn-warning" href="{{url_for('editCategory', category_id = category.id)}}">Edit</a>
                <a class="btn btn-xs btn-danger" href="{{url_for('deleteCategory', category_id = category.id)}}">Delete</a> {% endfor %}

            </div>
        </div>
    </div>
    {% endblock %} 